<!DOCTYPE html>
<html>
<head>
  <title>Pixlbot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
	
	  <div id="header">
		  <div id="headerC">
			  <div id="mascot">
				<%= link_to(image_tag("http://i.imgur.com/RhbWXIq.png"), root_path) %>
			  </div>
			  <div id="logo">
				<%= link_to(image_tag("http://i.imgur.com/xZka5yE.png"), root_path) %><% link_to image_tag(""), "http://www.mysite.com/" %>
			  </div>
			  <nav id="headernav">
				  <a style="display:block; float: left;" href="http://pixlbot.com/reviews/">
					<div class="headericons"><i class="icon-star-1"></i>Reviews</div>
				  </a>
				  <a style="display:block; float: left;" href="http://pixlbot.com/events/">
					<div class="headericons"><i class="icon-theatre"></i><span class="">Events</span></div>
				  </a>
				  <a style="display:block; float: left;" href="http://pixlbot.com/podcast/">
					<div class="headericons"><i class="icon-headphones"></i><span class="">Podcast</span></div>
				  </a>
				  <a style="display:block; float: left;" href="http://pixlbot.com/category/video/">
					<div class="headericons"><i class="icon-videocam"></i><span class="">Videos</span></div>
				  </a>
				  <a style="display:block; float: left;" href="http://pixlbot.com/staff">
					<div class="headericons"><i class="icon-group"></i>Team</div>
				  </a>

			  </nav>
			  
		  </div>
		  <div id="navContainer">
		  </div>
	  </div>
	  <div class="main">
		<div class="content">
		  <%= yield %>
		</div>
	  </div>

</body>
</html>
