<!DOCTYPE html>
<html>
<head>
  <title>Pixlbot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery/jquery.js', 'jquery/jquery-ui.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="adminbar">
	  <nav>
		  <ul>
			  <li><%= link_to("Pixlbot", root_path + "dashboard") %>
				<ul>
					<li><%= link_to("Dashboard", root_path + "dashboard") %></li>
				</ul>
			  
			  </li>
			  <li><a href="#">New</a>
				  <ul>
					  <li><%= link_to("Post", root_path + "dashboard/posts/new") %></li>
					  <li><a href="#">Review</a></li>
				  </ul>
			  </li>
		  </ul>
	  </nav>
	  <nav style="float: right; margin-right: 100px;">
		<ul>
			<li><a>Hey Person!</a>
			  <ul>
				  <li><a>Log Out</a></li>
			  </ul>
			
			</li>

		</ul>
	</nav>
	
	

	</div>

	<div id="sidebar">
	  <div class ="sMenu" name ="Dashboard">
		<a href="<%= root_url + "dashboard/" %>"><div class=sHeader >Dashboard</div></a>
		<ul>
		  <a href="<%= root_url + "dashboard/" %>"><li>Home</li></a>
		</ul>
	  </div>
	  <div class ="sMenu" name ="Posts">
		<a href="<%= root_url + "dashboard/posts" %>"><div class=sHeader >Posts</div></a>
		<ul>
		  <a href="<%= root_url + "dashboard/posts" %>"><li>All Post</li></a>
		  <a href="<%= root_url + "dashboard/posts/new" %>"><li>New Post</li></a>
		</ul>
	  </div>
	  <div class ="sMenu" name ="Reviews">
		<a href="<%= root_url + "dashboard/" %>"><div class=sHeader >Reviews</div></a>
		<ul>
		  <a href="<%= root_url + "dashboard/" %>"><li>All Reviews</li></a>
		  <a href="<%= root_url + "dashboard/" %>"><li>New Reviews</li></a>
		</ul>
	  </div>
	  	  <div class ="sMenu" name ="Users">
		<a href="<%= root_url + "dashboard/" %>"><div class=sHeader >Users</div></a>
		<ul>
		  <a href="<%= root_url + "dashboard/" %>"><li>All Users</li></a>
		  <a href="<%= root_url + "dashboard/" %>"><li>New Users</li></a>
		</ul>
	  </div>
	</div>

	<div id="main_content">


		<div id="content">
		  <%= yield %>
		</div>
		
	</div>



</body>
</html>
