<!DOCTYPE html>
<html>
<head>
  <title>Pixlbot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="adminbar">
	  <nav>
		  <ul>
			  <li><%= link_to("Pixlbot", root_path + "dashboard") %>
				<ul>
					<li><%= link_to("Dashboard", root_path + "dashboard") %></li>
				</ul>
			  
			  </li>
			  <li><a href="#">New</a>
				  <ul>
					  <li><%= link_to("Post", root_path + "dashboard/posts/new") %></li>
					  <li><a href="#">Review</a></li>
				  </ul>
			  </li>
		  </ul>
	  </nav>
	  <nav style="float: right; margin-right: 100px;">
		<ul>
			<li><a>Hey Person!</a>
			  <ul>
				  <li><a>Log Out</a></li>
			  </ul>
			
			</li>

		</ul>
	</nav>
	
	

	</div>

	<div id="sidebar">
	  Yo
	</div>

	<div id="main_content">


		<div id="content">
		  <%= yield %>
		</div>
		
	</div>



</body>
</html>
